.button {
  border: apx solid #777;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.button_light {
  background: #fff;
  color: #222;
}

.button_dark {
  background: #222;
  color: #fff;
}