/*
  https://codepen.io/NitrogenFlux/pen/GzpYvZ
  http://jsfiddle.net/benbrandt22/scs4ayd2/
*/

span.online-indicator {
  background-color: green;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: pulse-animation 2s infinite linear;
}

@keyframes pulse-animation {
	0% { transform: scale(1); }
	25% { transform: scale(1); }
    50% { transform: scale(1.2) }
    75% { transform: scale(1); }
    100% { transform: scale(1); }
}

span.offline-indicator {
  display: inline-block;
  background-color: gray;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

span.online-offline-text {
  display: inline;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-shadow: 0px 3px 6px rgba(150, 150, 150, 0.2);
  
  position: relative;
  cursor: pointer;
}