h1 {
  margin: 1em;
}

h2 {
  padding: 0rem;
  padding-left: .5rem;
  border-left: .5rem solid gray;
  border-bottom: .1rem solid gray;
}

h3 {
  margin-top: 1rem;
}

pre {
  border: .1rem solid gray;
  padding: .5rem;
  text-align: left;
  background-color: lightyellow;
}

.poc-container {
  margin-bottom: 2rem;
}